@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h2 class="text-danger">
    Error Occured in Controller @Model.ControllerName
</h2>

<h2 class="text-danger">
    Error Occured in Action Method is @Model.ActionName
</h2>

<h2 class="text-danger">
    Error  is @Model.Exception.Message
</h2>

<a asp-action="@Model.ActionName" asp-controller="@Model.ControllerName">Go Back</a>
